* {
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
}

code, code > * {
    font-family: "Roboto Mono", monospace;
    font-size: small;
}

:root {
    --pink: #ff659b;
    --yellow: #ffc861;
    --sidebar: #ebe5e6;
    --back: #faf6f7;
    --md: 0.5rem;
}

body {
    margin: 0;
    background: var(--back);
    display: flex;
    max-height: 100dvh;
    overflow-x: hidden;
    color: #100e0f;
}

#sidebar {
    height: 100dvh;
    width: 300px;
    background: var(--sidebar);
    flex-shrink: 0;
}

#sidebar-upper {
    background: linear-gradient(70deg, var(--pink), var(--yellow));
    min-height: 15dvh;
    font-size: x-large;
    color: white;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#logo > span {
    color: transparent;
    text-shadow: 0 0 0 #fff;
}

#sidebar a {
    color: inherit;
    text-decoration: none;
}

#chevron {
    display: none;
}

#sidebar-index {
    padding: var(--md);
    display: flex;
    flex-direction: column;
}

#sidebar-index a {
    padding: var(--md);
    border-radius: var(--md);
}

#sidebar-index a:hover {
    background: #03000119;
}

#sidebar-index a:active {
    background: #03000129;
}

@media (max-aspect-ratio: 2/3) {
    body {
        flex-direction: column;
    }

    #sidebar-index {
        height: 0;
        padding: 0;
        overflow-y: hidden;
    }

    #sidebar-upper {
        min-height: 0;
        align-items: center;
        justify-content: space-between;
        padding: var(--md);
    }

    #logo {
        flex-grow: 0;
    }

    #sidebar {
        height: calc(2em + 2 * var(--md));
        width: 100dvw;
        position: sticky;
        top: 0;
        transition: height 0.2s, flex-shrink 0.2s;
    }

    #chevron {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }
    
    #sidebar:has(#chevron-input:checked) {
        height: 100dvh;
    }

    #sidebar:has(#chevron-input:checked) + article {
        flex-shrink: 1;
        padding: 0;
    }

    article {
        transition: height 0.2s, flex-shrink 0.2s, padding 0.2s;
        height: 100%;
    }

    #chevron-input:checked + #sidebar-upper > #chevron {
        transform: rotate(90deg);
    }

    #chevron-input:checked ~ #sidebar-index {
        height: unset;
        padding: var(--md);
    }
}

#chevron-input {
    display: none;
}

article {
    overflow-y: auto;
    padding: var(--md);
    height: 100dvh;
    flex-grow: 1;
}

pre { background: #1d191b; padding: var(--md) }
.token.alphanumeric { color: #85bae0; }
.token.symbolic { color: #dde9f1; }
.token.declare { color: #6388f4; }
.token.ctrlflow { color: #c385e0; }
.token.number { color: #b7ecbf; }
.token.function { color: #eaddb1; }
.token.object { color: #46bca0; }
.token.comment { color: #41714f; }
.token.string { color: #e09a85; }
.token.this { color: #ed78b1; }