* {
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
}

code, code > * {
    font-family: "Roboto Mono", monospace;
    font-size: small;
}

:root {
    --pink: #ff659b;
    --yellow: #ffc861;
    --sidebar: #ebe5e6;
    --back: #faf6f7;
    --md: 0.5rem;
}

body {
    margin: 0;
    background: var(--back);
    display: flex;
    max-height: 100dvh;
    overflow-x: hidden;
    color: #100e0f;
}

#sidebar {
    height: 100dvh;
    width: 300px;
    background: var(--sidebar);
    flex-shrink: 0;
}

#sidebar-upper {
    background: linear-gradient(70deg, var(--pink), var(--yellow));
    min-height: 15dvh;
    font-size: x-large;
    color: white;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#logo > span {
    color: transparent;
    text-shadow: 0 0 0 #fff;
}

#sidebar a {
    color: inherit;
    text-decoration: none;
}

#chevron {
    display: none;
}

#sidebar-index {
    padding: var(--md);
    display: flex;
    flex-direction: column;
}

#sidebar-index a {
    padding: var(--md);
    border-radius: var(--md);
}

#sidebar-index a:hover {
    background: #03000119;
}

#sidebar-index a:active {
    background: #03000129;
}


#chevron-input {
    display: none;
}

article {
    overflow-y: auto;
    padding: var(--md);
    height: 100dvh;
    flex-grow: 1;
}

pre { 
    background: #1d191b; 
    padding: var(--md);
    border-radius: var(--md);
    overflow: auto;
    margin: 0;
}
.token.this { color: #ec71ae; }
.token.function { color: #f3a58e; }
.token.symbolic { color: #fff4f2; }
.token.alphanumeric { color: #f7c7c1; }
.token.ctrlflow { color: #fd9eba; }
.token.declare { color: #f68272; }
.token.number { color: #f6efb3; }
.token.object { color: #f5cf78; }
.token.string { color: #bde48c; }
.token.comment { color: #689f6d; }

.example {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--md);
}

.resultbox, .resultbox * {
    font-size: large;
}

.resultbox {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--sidebar);
    padding: var(--md);
    border-radius: var(--md);
}

button {
    background: var(--pink);
    color: white;
    padding: var(--md);
    border-radius: var(--md);
    cursor: pointer;
    outline: 0;
    border: 0;
    box-shadow: 0 3px 2px #0002;
}

button:active {
    transform: translateY(1px);
}

@media (max-aspect-ratio: 2/3) or (max-width: 600px) {
    body {
        flex-direction: column;
    }

    .example {
        grid-template-columns: 1fr;
    }

    #sidebar-index {
        height: 0;
        padding: 0;
        overflow-y: hidden;
    }

    #sidebar-upper {
        min-height: 0;
        align-items: center;
        justify-content: space-between;
        padding: var(--md);
    }

    #logo {
        flex-grow: 0;
    }

    #sidebar {
        height: calc(2em + 2 * var(--md));
        width: 100dvw;
        position: sticky;
        top: 0;
        transition: height 0.2s, flex-shrink 0.2s;
    }

    #chevron {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }
    
    #sidebar:has(#chevron-input:checked) {
        height: 100dvh;
    }

    #sidebar:has(#chevron-input:checked) + article {
        flex-shrink: 1;
        padding: 0;
    }

    article {
        transition: height 0.2s, flex-shrink 0.2s, padding 0.2s;
        height: 100%;
    }

    #chevron-input:checked + #sidebar-upper > #chevron {
        transform: rotate(90deg);
    }

    #chevron-input:checked ~ #sidebar-index {
        height: unset;
        padding: var(--md);
    }
}